## Path:
## Description: Grafana Alloy Settings
## Type:        string
## Default:     ""
## ServiceRetart: Alloy
#
# Command line options for Alloy
#
# the configuration file holding the alloy configuration
CONFIG_FILE="/opt/alloy"

#User-define arguments to pass to run the Command
CUSTOM_ARGS="--server.http.listen-addr=0.0.0.0:12345"

# Restart on system upgrade. Default to true.
RESTART_ON_UPGRADE=true