# ==============================
# roles/alloy/templates/linux-metrics.alloy.j2
# ==============================
prometheus.exporter.unix "node" {
}

prometheus.scrape "node" {
  targets = prometheus.exporter.unix.node.targets
  forward_to = [prometheus.remote_write.default.receiver]
}