//// SYSLOG CONFIGURATION FOR ALLOY ////
////                               ////


loki.source.syslog "local" {
  listener {
    address  = "0.0.0.0:51893"
    labels   = { component = "loki.source.syslog", protocol = "tcp", "job" = "syslog", "hostname" = constants.hostname, "env" = "prod", "source" = "syslog", "instance" = constants.hostname }
  }

  listener {
    address  = "0.0.0.0:51898"
    protocol = "udp"
    labels   = { component = "loki.source.syslog", protocol = "udp", "job" = "syslog", "hostname" = constants.hostname, "env" = "prod", "source" = "syslog", "instance" = constants.hostname }
  }

  forward_to = [loki.write.default.receiver]
}
