write-kubeconfig-mode: "0644"
tls-san:
  - {{ vip }}
  - {{ hostvars['server1']['ansible_host'] }}
  - {{ hostvars['server2']['ansible_host'] }}
  - {{ hostvars['server3']['ansible_host'] }}
  - 192.168.1.48
  - rke2-prod-1.kane.mk
  - rke2-prod-2.kane.mk
  - rke2-prod-3.kane.mk
node-label:
  - server=true
disable:
  - rke2-ingress-nginx