server time.cloudflare.com iburst minpoll 5 maxpoll 5
server time.google.com iburst minpoll 5 maxpoll 5
server time1.facebook.com iburst minpoll 5 maxpoll 5
server time.apple.com iburst minpoll 5 maxpoll 5

driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
