## Path:
## Description: Grafana Alloy Settings
## Type:        string
## Default:     ""
## ServiceRetart: Alloy
#
# Command line options for Alloy
#
# the configuration file holding the alloy configuration
CONFIG_FILE="/etc/alloy"

#User-define arguments to pass to run the Command
CUSTOM_ARGS=""

# Restart on system upgrade. Default to true.
RESTART_ON_UPGRADE=true
